# k-Nearest Neighbors (kNN)

In [1]:
import os
print("Current Working Directory is:",os.getcwd())
os.chdir("C:/Users/HP/Desktop/EDP BA Python")
print("New Working Directory is:",os.getcwd())

Current Working Directory is: C:\Users\HP\EDP BA Python
New Working Directory is: C:\Users\HP\Desktop\EDP BA Python

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
import matplotlib.pylab as plt

In [4]:
Home_df = pd.read_excel('Home Market Value.xlsx')
Home_df['Number'] = Home_df.index + 1
Home_df.head(9)

   House Age  Square Feet  Market Value  Number
0         33         1812         90000       1
1         32         1914        104400       2
2         32         1842         93300       3
3         33         1812         91000       4
4         32         1836        101900       5
5         33         2028        108500       6
6         32         1732         87600       7
7         33         1850         96000       8
8         32         1791         89200       9

In [5]:
trainData, validData = train_test_split(Home_df, test_size=0.4, random_state=28)
print(trainData.shape, validData.shape)
newMarketValue = pd.DataFrame([{'House Age': 32, 'Square Feet': 1812}])
newMarketValue

(25, 4) (17, 4)

   House Age  Square Feet
0         32         1812

In [6]:
scaler = preprocessing.StandardScaler()
scaler.fit(trainData[['House Age', 'Square Feet']])  
HomeNorm = pd.concat([pd.DataFrame(scaler.transform(Home_df[['House Age', 'Square Feet']]), 
                                    columns=['zHouse Age', 'zSquare Feet']),
                       Home_df[['Market Value', 'Number']]], axis=1)
trainNorm = HomeNorm.iloc[trainData.index]
validNorm = HomeNorm.iloc[validData.index]
newMarketValueNorm = pd.DataFrame(scaler.transform(newMarketValue), columns=['zHouse Age', 'zSquare Feet'])

In [7]:
knn = NearestNeighbors(n_neighbors=5)
knn.fit(trainNorm[['zHouse Age', 'zSquare Feet']])
distances, indices = knn.kneighbors(newMarketValueNorm)
print(trainNorm.iloc[indices[0], :])

    zHouse Age  zSquare Feet  Market Value  Number
8     0.811812      0.227611         89200       9
2     0.811812      0.443859         93300       3
18    0.811812     -0.026798         86400      19
0     1.234631      0.316654         90000       1
3     1.234631      0.316654         91000       4

In [8]:
Home_X = HomeNorm[['zHouse Age', 'zSquare Feet']]
Home_y = HomeNorm['Market Value']
knn = KNeighborsClassifier(n_neighbors=5).fit(Home_X, Home_y)
distances, indices = knn.kneighbors(newMarketValueNorm)
print(knn.predict(newMarketValueNorm))
print('Distances',distances)
print('Indices', indices)
print(HomeNorm.iloc[indices[0], :])

[87600]
Distances [[0.08904307 0.10176351 0.12720439 0.16960585 0.33921171]]
Indices [[ 8  4  2 10  6]]
    zHouse Age  zSquare Feet  Market Value  Number
8     0.811812      0.227611         89200       9
4     0.811812      0.418418        101900       5
2     0.811812      0.443859         93300       3
10    0.811812      0.486260        100800      11
6     0.811812     -0.022558         87600       7

# Neural Networks

In [9]:
import os
print("Current Working Directory is:",os.getcwd())
os.chdir("C:/Users/HP/Desktop/EDP BA Python")
print("New Working Directory is:",os.getcwd())

Current Working Directory is: C:\Users\HP\Desktop\EDP BA Python
New Working Directory is: C:\Users\HP\Desktop\EDP BA Python

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from dmba import classificationSummary

In [12]:
Loan_df = pd.read_csv('LoanPredictionTrain.csv')
Loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,112,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y

In [13]:
Loan_df = pd.read_csv('LoanPredictionTrain.csv')

predictors = ['ApplicantIncome', 'LoanAmount']
outcome = 'Loan_Status'

X = Loan_df[predictors]
y = Loan_df[outcome]
classes = sorted(y.unique())

clf = MLPClassifier(hidden_layer_sizes=(3), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X)

print('Intercepts')
print(clf.intercepts_)

print('Weights')
print(clf.coefs_)

print(pd.concat([
    Loan_df,
    pd.DataFrame(clf.predict_proba(X), columns=classes)
], axis=1))

Intercepts
[array([-0.39685293, -0.19535012, -0.13057996]), array([-6.74341527])]
Weights
[array([[-0.10481614,  0.27869527, -0.63144549],
       [-0.24968953, -0.4460328 , -0.51494971]]), array([[0.05482002],
       [7.54140184],
       [0.26158144]])]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         112             360.0
1               4583             1508.0         128             360.0
2               3000                0.0          66             360.0
3               2583             2358.0         120             360.0
4               6000                0.0         141             360.0
..               ...                ...         ...               ...
609             2900                0.0          71             360.0
610             4106                0.0          40             180.0
611             8072              240.0         253             360.0
612             7583                0.0         187             360.0
613             4583                0.0         133             360.0

     Credit_History Property_Area Loan_Status         N         Y
0               1.0         Urban           Y  0.310456  0.689544
1               1.0         Rural           N  0.310456  0.689544
2               1.0         Urban           Y  0.310456  0.689544
3               1.0         Urban           Y  0.310456  0.689544
4               1.0         Urban           Y  0.310456  0.689544
..              ...           ...         ...       ...       ...
609             1.0         Rural           Y  0.310456  0.689544
610             1.0         Rural           Y  0.310456  0.689544
611             1.0         Urban           Y  0.310456  0.689544
612             1.0         Urban           Y  0.310456  0.689544
613             0.0     Semiurban           N  0.310456  0.689544

[614 rows x 15 columns]

In [14]:
for i, (weights, intercepts) in enumerate(zip(clf.coefs_, clf.intercepts_)):
    print('Hidden layer' if i == 0 else 'Output layer', '{0[0]} => {0[1]}'.format(weights.shape))
    print(' Intercepts:\n ', intercepts)
    print(' Weights:')
    for weight in weights:
        print(' ', weight)
    print()

Hidden layer 2 => 3
 Intercepts:
  [-0.39685293 -0.19535012 -0.13057996]
 Weights:
  [-0.10481614  0.27869527 -0.63144549]
  [-0.24968953 -0.4460328  -0.51494971]

Output layer 3 => 1
 Intercepts:
  [-6.74341527]
 Weights:
  [0.05482002]
  [7.54140184]
  [0.26158144]

In [15]:
classificationSummary(y, clf.predict(X), class_names=classes)

Confusion Matrix (Accuracy 0.6906)

       Prediction
Actual   N   Y
     N   2 190
     Y   0 422

# Multiple Linear Regression

In [16]:
import os
print("Current Working Directory is:",os.getcwd())
os.chdir("C:/Users/HP/Desktop/EDP BA Python")
print("New Working Directory is:",os.getcwd())

Current Working Directory is: C:\Users\HP\Desktop\EDP BA Python
New Working Directory is: C:\Users\HP\Desktop\EDP BA Python

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [18]:
%matplotlib inline
from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LassoCV, BayesianRidge
import statsmodels.formula.api as sm
import matplotlib.pylab as plt

from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

In [19]:
Home_df = pd.read_excel('Home Market Value.xlsx')

predictors = ['Square Feet', 'House Age']
outcome = 'Market Value'

X = pd.get_dummies(Home_df[predictors], drop_first=True)
y = Home_df[outcome]
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1)

Home_lm = LinearRegression()
Home_lm.fit(train_X, train_y)

print('intercept ', Home_lm.intercept_)
print(pd.DataFrame({'Predictor': X.columns, 'coefficient': Home_lm.coef_}))

regressionSummary(train_y, Home_lm.predict(train_X))

intercept  58741.96723428106
     Predictor  coefficient
0  Square Feet    42.143170
1    House Age -1245.044905

Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 7631.5813
            Mean Absolute Error (MAE) : 5392.9821
          Mean Percentage Error (MPE) : -0.6027
Mean Absolute Percentage Error (MAPE) : 5.4864

In [20]:
pred_y = Home_lm.predict(train_X)

print('adjusted r2 : ', adjusted_r2_score(train_y, pred_y, Home_lm))
print('AIC : ', AIC_score(train_y, pred_y, Home_lm))
print('BIC : ', BIC_score(train_y, pred_y, Home_lm))

adjusted r2 :  0.5429968856320624
AIC :  525.9494444824511
BIC :  530.8249477819239

In [21]:
Home_lm_pred = Home_lm.predict(valid_X)

result = pd.DataFrame({'Predicted': Home_lm_pred, 'Actual': valid_y,
                       'Residual': valid_y - Home_lm_pred})
print(result.head(20))

regressionSummary(valid_y, Home_lm_pred)

       Predicted  Actual      Residual
3   94018.909262   91000  -3018.909262
2   96528.249265   93300  -3228.249265
23  91225.495425   87100  -4125.495425
39  87938.328171   87200   -738.328171
17  87172.465543   94700   7527.534457
29  85746.883335   88100   2353.116665
19  89111.051359   87100  -2011.051359
35  90804.063726   81000  -9804.063726
31  89183.373076   88600   -583.373076
22  90804.063726   81500  -9304.063726
21  87666.218959   79800  -7866.218959
33  87938.328171   84400  -3538.328171
27  96811.286832   94200  -2611.286832
34  95420.562225   90900  -4520.562225
30  87938.328171   88100    161.671829
32  87666.218959   76600 -11066.218959
38  89183.373076  100700  11516.626924

Regression statistics

                      Mean Error (ME) : -2403.3647
       Root Mean Squared Error (RMSE) : 6150.7656
            Mean Absolute Error (MAE) : 4939.7117
          Mean Percentage Error (MPE) : -3.1088
Mean Absolute Percentage Error (MAPE) : 5.7253